html, body {
	padding: 0;
	margin: 0;
	height: 100%
}

* {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
}

#nowPlayingBarContainer {
	width: 100%;
    background-color: #f443363b;
    bottom: 0;
    position: fixed;
    min-width: 620px;
    z-index:999;
}

#nowPlayingBar {
	display: flex;
    height: 90px;
    padding: 10px;
    box-sizing: border-box;
}

#nowPlayingLeft, #nowPlayingRight {
	width: 30%;
    min-width: 180px;
}

#nowPlayingRight {
    position: relative;
    margin-top: 16px;  
}


#nowPlayingCenter {
	width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content {
	width: 100%;
    height: 60px;
}

.playerControls .buttons {
	margin: 0 auto;
    display: table;
}

.controlButton {
	background-color: transparent;
    border: none;
    vertical-align: middle;
}

.controlButton img {
	width: 20px;
    height: 20px;
}

.controlButton.play img, .controlButton.pause img {
	width: 32px;
    height: 32px;
}

.controlButton:hover {
	cursor: pointer;
}

.progressTime {
	color: #b54c45;
    font-size: 11px;
    text-align: center;
    min-width: 40px;
}

.playbackBar {
	display: flex;
}

.progressBar {
	width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.progressBarBg {
    background-color: #b54c45;
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.progress {
    background-color: burlywood;
    height: 4px;
    width: 0;
    border-radius: 2px;
}

.playbackBar .progressBar {
    margin-top: 3px;
}

#nowPlayingLeft .albumArtwork {
    height: 100%;
    max-width: 60px;
    margin-right: 15px;
    float: left;
    background-size: cover;
}

#nowPlayingLeft .trackInfo {
    display: table;
}

#nowPlayingLeft .trackInfo .trackName {
    margin: 6px 0;
    display: inline-block;
    width: 100%
}

#nowPlayingLeft .trackInfo .artistName span {
    font-size: 12px;
    color: gray;
}

.volumeBar {
    width: 180px;
    position: absolute;
    right: 0;
}

.volumeBar .progressBar {
    width: 125px;
}

#topContainer {
    min-height: 100%;
    width: 100%;
}

#navBarContainer {
    background-color: #1ed2756e;
    width: 220px;
    height: calc(100vh - 90px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.navBar {
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.logo {
    margin-bottom: 10px;
}

.logo img {
    width: 32px;
}

.navBar .group {
    border-top: 1px solid #4caf50bf;
    padding: 10px 0;
}

.navItem {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItemLink {
    color: #009688;
    text-decoration: none;
}

.navItemLink:hover {
    color: #fff;
}

.navItemLink .icon {
    position: absolute;
    right: 0;
    top: 6px;
    width: 24px;
}